{% extends 'shop/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="mb-4">Категории товаров</h1>
    </div>
</div>

<div class="row">
    {% for category in categories %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <h5 class="card-title">
                    <a href="{% url 'category_detail' category.slug %}" class="text-decoration-none">{{ category.name }}</a>
                </h5>
                <a href="{% url 'category_detail' category.slug %}" class="btn btn-primary mt-3">Просмотреть товары</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
